<html>
<head>
</head>

<body>
    <div id="rick-and-morty-characters">
        <h1>WELCOME TO YOUR DASHBOARD!!!</h1>
        <p>Please enter a name of a term to look up the song</p>
        <form action="/results">
<!--            //TODO Display Song Name -->
<!--            //TODO Display Artist Name -->
<!--            //TODO Display and some more data from API -->
<!--            //TODO Display Name of API -->
            <label for="userTerm" >Song or Artist term:</label>
            <input type="text" id="userTerm" name="userTerm"><br><br>
            <input type="submit" value="Submit">
        </form>
<!--        <p>{{data.tracks.hits.[2].track.title}}</p>-->
    </div>
</body>
</html>