<html>
<head>
</head>

<body>
<div id="rick-and-morty-characters">
    <h1>WELCOME TO YOUR DASHBOARD!!!</h1>
    <p>Your first result: </p>
    <p>{{data.tracks.hits.[0].track.title}}</p>
</div>
</body>
</html>